html {
  height: 100%;
}

body {
  background-color: #0F172A;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mainframe {
  width: 550px;
  max-width: 80vw;
  height: 400px;
  padding: 5px;
}

#numberOfGuesses {
  margin-top: 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

#answersGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.answers {
  border-radius: 10px;
  margin-bottom: 8px;
  text-align: center;
}

#themeParagraph {
  font-weight: bold;
}

#wordsParagraph {
  margin-bottom: 0;
}

#optionsGrid {
  height: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr);
  user-select: none;
}

.options {
  font-size: 1rem;
  display: flex;
  background-color: #1E293B;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s;
}

.options:active {
  margin: auto;
  width: 85%;
  height: 85%;
}

@keyframes error-animation {
  0% { transform: rotate(0deg);  border: 2px solid red;}
  25% { transform: rotate(5deg); border: 2px solid red;}
  50% { transform: rotate(0eg); border: 2px solid red;}
  75% { transform: rotate(-5deg); border: 2px solid red;}
  100% { transform: rotate(0deg); border: 2px solid red;}
}

.error-animation {
  animation-name: error-animation;
  animation-duration: 1s;
  animation-delay: 0.2s;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}