html {
  height: 100%;
}

body {
  background-color: #0F172A;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mainframe {
  width: 550px;
  max-width: 80vw;
  height: 400px;
  padding: 5px;
}

#numberOfGuesses {
  margin-top: 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

#answersGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.answers {
  border-radius: 10px;
  margin-bottom: 8px;
  text-align: center;
}

#themeParagraph {
  font-weight: bold;
}

#wordsParagraph {
  margin-bottom: 0;
}

#optionsGrid {
  height: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr);
  user-select: none;
  container-type: size;
}

.options {
  font-size: min(1rem, 4cqw);
  word-break: break-word;
  overflow-wrap: break-word;
  display: flex;
  background-color: #1E293B;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
}

.options:hover {
  transform: translate(-2px, -2px) scale(1.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
  cursor: pointer;
}

.options:active {
  margin: auto;
  width: 85%;
  height: 85%;
}

@keyframes error-animation {
  0% { transform: rotate(0deg); border: 2px solid red; }
  14.2857142857% { transform: rotate(5deg); border: 2px solid red; }
  28.5714285714% { transform: rotate(-5deg); border: 2px solid red; }
  42.8571428571% { transform: rotate(0deg); border: 2px solid red; }
  57.1428571428% { transform: rotate(5deg); border: 2px solid red; }
  71.42857142849999% { transform: rotate(-5deg); border: 2px solid red; }
  85.71428571419999% { transform: rotate(0deg); border: 2px solid red; }
  99% { transform: rotate(0deg); border: 2px solid red; }
}

.error-animation {
  transition-duration: 0.5s;
  animation-name: error-animation;
  animation-duration: 0.7s;
  animation-delay: 0.2s;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

#playAgain {
  background-color: #009AFE;
  border: blue solid 2px;
  color: black;  
  border-radius: 5px;
  margin-top: 10px;
  width: 200px;
  font-size: large;
}

#playAgain:hover {
  transform: scale(1.1);
}